<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 默认构造方法实例化 -->
	<bean id="hello" name="bean" class="com.shopin.springTest2.SayHelloImpl"></bean>
	
	<!-- 带参数构造方法实例化 -->
	<bean id="hello1" name="hello1" class="com.shopin.springTest2.SayHelloImpl">
		<constructor-arg index="0" value="hello pp!"></constructor-arg>
	</bean>
	
	<!-- 静态工厂实例化bean -->
	<bean id="hello2" class="com.shopin.springTest2.StringBeanFactory" factory-method="newInstance">
		<constructor-arg index="0" value="hello pengp!"></constructor-arg>
	</bean>
	
	<bean id="sampleFactory" class="com.shopin.springTest2.SampleBeanFactory"></bean>
	<bean id="hello3" factory-bean="sampleFactory" factory-method="newInstance">
		<constructor-arg index="0" value="hello pu!"></constructor-arg>
	</bean>

</beans>