<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 构造器注入 -->
	<bean id="hello1" name="bean" class="com.shopin.springTest2.SayHelloImpl">
		<!-- <constructor-arg index="0" value="hello Injection!"></constructor-arg> -->
		<!-- <constructor-arg type="java.lang.String" value="hello type!"></constructor-arg> -->
		<constructor-arg name="message" value="hello message!"></constructor-arg>
	</bean>
	
	<!-- setter方法注入 -->
	<bean id="hello2" class="com.shopin.springTest2.SayHelloImpl">
		<property name="message" value="hello error!"></property>
	</bean>
	
	<!-- 注入 list -->
	<bean id="hello3" class="com.shopin.springTest2.SayHelloImpl">
		<property name="lists">
			<list value-type="java.lang.String">
				<value>aaa</value>
				<value>ccc</value>
			</list>
		</property>
	</bean>
	
	<!-- 注入set集合,如果元素重复,那么不能添加进去 -->
	<bean id="hello4" class="com.shopin.springTest3.SetTestBean">
		<property name="values">
			<set value-type="java.lang.String">
				<value>aaa</value>
				<value>bbb</value>
				<value>aaa</value>
			</set>
		</property>
		
	</bean>

</beans>