/* Reset重置默认样式 */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html,body{font:12px/1.5 arial,Verdana,\5b8b\4f53,sans-serif;color:#444;height:100%}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
u{text-decoration:none}
a{text-decoration:none;color:#444;outline:none}
a:hover{color:#e94609}
img{ vertical-align:middle}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
/* 自定义 */
.cl{clear:both}
.clear:after{height:0;clear:both;content:".";visibility:hidden;display:block}
.alc{text-align:center}
.oz{overflow:hidden;zoom:1}
.hidden{display:none}
.disib{display:inline-block}
.mt20{margin-top:20px}

.header{height:42px;padding:5px 20px 5px 10px;color:#fff;background:#23a3d2}
.logo{float:left;height:42px;background:url(../images/logo.gif) 0 0 no-repeat;width:450px}
.logout{float:right;line-height:48px}
.logout a{color:#fff;text-decoration:underline}
.logout a:hover{text-decoration:none}
.main{height:auto;position:relative;}
.leftnav{width:110px;padding:2px;background:#fff;min-height:100%;position:relative;float:left;}
.leftnav h3,.rightlist h3{background:#2cbbef;line-height:27px;color:#fff;text-indent:8px;margin-bottom:2px}
.leftnav li{margin-top:2px;line-height:25px}
.leftnav li a{padding-left:8px;display:block}
.leftnav a:hover{background:#f2f9fd}
.leftbar{cursor:pointer;width:6px;position:absolute;left:114px;height:100%;background:url(../images/arrow.gif) center center no-repeat #23a3d2;}
.rightlist{background:#fff;padding:2px;box-sizing:border-box;position:relative;margin-left:120px}
.search{background:#e5f6fc;padding:4px 8px;position:relative;margin-bottom:3px}
.changePromotion{background:#e5f6fc;padding:4px 8px;position:relative;margin-bottom:0px}
.search ul{padding:3px}
.search li{display:inline-block;padding-right:12px}
.search .btn{position:absolute;right:13px;bottom:10px}
.btn-blue,.btn-gray{font-weight:700;color:#fff;padding:1px 8px;border-radius:4px;cursor:pointer;margin:0 3px}
.btn-blue{background:#43c1ef;border:1px solid #21aadc}
.btn-gray{background:#aeaeae;border:1px solid #8c8c8c}
.btnB{padding:3px 17px 5px}
.tableList{border-top:1px solid #c6e8ff;border-left:1px solid #c6e8ff;line-height:28px}
.tableList th,.tableList td{box-sizing:border-box;padding:0 5px}
.tableList th{background:#43c1ef;color:#fff;font-weight:500}
.tableList td{border-bottom:1px solid #c6e8ff;border-right:1px solid #c6e8ff}
.page{color:#3e9ad9;background:#eee;padding:4px 10px;position:absolute;left:0;bottom:0;right:0;}
.page .left{float:left}
.page .right{float:right}
.page a{padding:0 2px}
.page a:link{color:#3e9ad9;text-decoration:underline}
.page a:hover{color:#f40;text-decoration:none}
.w200{width:200px}
.w200 .text_left{width:180px}
.w200 .arrow_right{width:200px}
.w200 .list{width:200px}
.w100{width:100px}
.w100 .text_left{width:80px}
.w100 .arrow_right{width:100px}
.w100 .list{width:100px}
.select{height:22px;line-height:22px;border:1px solid #dcdcdc;background:#fff;position:relative;display:inline-block}
.text_left{display:block;padding:0 5px;height:17px;overflow:hidden}
.arrow_right{display:block;background:url(../images/select.gif) 100% 1px no-repeat;height:22px;position:absolute;left:0;top:0;z-index:5}
.list{border:1px solid #dcdcdc;border-top:0;display:none;position:absolute;left:-1px;background:#fff}
.list div{line-height:24px;padding:0 5px;margin:1px 0;box-sizing:border-box;width:100%}
.list div.on, .list div:hover{background:#f8f3f4;cursor:pointer;}
.list div label { display: block;}
.list div input{margin:0 5px 0 0; vertical-align:middle}
.hList{min-height:480px}
/*创建活动弹层*/
.welcome{background:url(../images/welcome.jpg) center center no-repeat;}
.mask{display:none;background:#000;position:fixed;left:0;top:0;right:0;bottom:0;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;z-index:6}
.addMain,.editMain,.addDetail{display:none;width:750px;height:500px;background:#fff;position:absolute;left:50%;top:8%;margin-left:-340px;z-index:8;border:1px solid #cecece}
.addMain h2,.editMain h2,.productShow h2{background:#2cbbef;font-weight:600;line-height:27px;color:#fff;text-indent:10px}
.productShow{display:none;width:880px;height:500px;background:#fff;position:absolute;left:40%;top:8%;margin-left:-240px;z-index:8;border:1px solid #cecece}
.wMask{width:390px;height:280px;position:absolute;top:22%;margin-left:-195px;overflow-y:auto}
.wMask .addList{padding:15px}
.addList{padding:18px 25px;height:320px;overflow-y:auto}
.addList li{padding:3px 0}
.addList em{color:#f00;font-family:宋体;position:absolute;left:0}
.addList label{padding-left:12px;position:relative;width:155px;display:block;float:left}
.tabAct{border:1px solid #ebebeb;position:relative;padding:11px 15px 7px;margin-top:15px}
.tabAct li{padding:4px 0 5px}
.tabAct label{width:80px}
.tabAct h3{background:#fff;padding:5px 8px;position:absolute;top:-15px;left:20px}
.tabAcont{border-right:1px solid #e5e3e4;border-bottom:1px solid #e5e3e4}
.tabAcont th{background:#e5e3e4;color:#000;padding:6px 10px;border-left:1px solid #e5e3e4}
.tabAcont td{padding:5px 2px 5px 10px;border-left:1px solid #e5e3e4}
.tabRec td{padding:3px 0 3px 10px}
.tabRec .line{border-bottom:1px solid #e5e3e4;padding-bottom:5px}
.addMain a{padding-left:10px;color:#03F}
.addMain a:hover{color:#f40}
.btnStatus{position:absolute;bottom:10px;left:95px}
.pd15{padding:10px 15px}
.ml50{margin-left:50px}
.mll50{margin-left:1150px}
.hInput{height:22px;padding:0 3px}
.aLc{text-align:center}
.brandalc{text-align:right}
.boxNone,.boxNone td{border:none}
.txtRed{color:#f00}
.edit a{color:#069;text-decoration:underline;margin:0 8px}
.edit a:hover{color:#f60}
/*鼠标划过悬浮*/
.ks-popup-list{display:inline;position:relative}
.ks-popup-list a{z-index:0 !important}
.ks-popup{position:absolute;top:-102px;right:10px;padding-top:11px;z-index:3;line-height:18px;display:none}
.popup-box{border:1px solid #ccc;background:#fff;z-index:1;width:280px;padding:10px;width:670px;min-height:200px;margin-right:30px}
.ks-popup .arrow{position:absolute;right:23px;top:102px;color:#ccc}
.ks-popup .arrow-top{position:absolute;right:24px;top:102px;color:#fff;z-index:2}